@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@400;500;600;800&display=swap');
@import '../icons/style.css';

* {
  box-sizing: border-box;
}

:root {
  --brownlight: #c7b299;
  --brown: #998675;
  --browndark: #736357;
  --white: #fff;
  --grey: #555555;
  --lightgrey: #8c8c8c;
  --lijnekleur: #f1eee9;
}

header {
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: top center;
}

main {
  height: 100px;
  background-color: var(--white);
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  transition: all 300ms;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

nav a.logo {
  color: var(--white);
  margin-right: auto;
  font-size: 56px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav a.logo span {
  font-family: Raleway;
  font-weight: 400;
  margin-left: 25px;
  font-size: 34px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: var(--white);
  text-transform: capitalize;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 300;
  padding: 8px 10px;
  transition: all 300ms;
}

nav a.search {
  color: var(--white);
  font-size: 24px;
  margin-left: 100px;
  transition: all 300ms;
}

nav ul li a:hover,
nav a.search:hover {
  color: var(--brownlight);
}

.slider-content {
  text-align: center;
  width: 55%;
}

.slider-content h2 {
  font-family: Raleway;
  font-size: 36px;
  color: var(--white);
  font-weight: 500;
  line-height: 43px;
  margin-bottom: 2px;
}

.slider-content h1 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 52px;
  color: var(--white);
  line-height: 62px;
  margin-bottom: 11px;
}

.slider-content p {
  font-family: Montserrat;
  font-size: 16px;
  color: var(--white);
  line-height: 24px;
  margin-bottom: 48px;
}

.slider-content a {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
  color: var(--white);
  background-color: var(--brown);
  text-decoration: none;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  border-bottom: 3px solid var(--browndark);
  border-radius: 3px;
  padding: 0 50px;
  transition: all 300ms;
}

.slider-content a:hover {
  background-color: var(--browndark);
  border-bottom: 3px solid var(--brown);
}

.slider-nav ul {
  display: flex;
}

.slider-nav ul li {
  margin: 0 4px;
}

.slider-nav ul li a::before {
  content: '';
  display: block;
  background-color: var(--white);
  border: 2px solid transparent;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  opacity: 0.5;
}

/* .slider-nav ul li a.active::before, */
.slider-nav ul li a:hover::before {
  border-color: var(--brown);
  opacity: 1;
  background-color: transparent;
}

.prev,
.next {
  position: absolute;
  display: block;
  font-size: 73px;
  color: var(--brownlight);
  left: 150px;
  top: calc(50% - 36.5px);
  transition: all 300ms;
}

.next {
  left: auto;
  right: 150px;
}

.prev:hover {
  transform: translateX(-10px);
}

.next:hover {
  transform: translateX(10px);
}

main .container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 110px;
}

main .container a {
  text-decoration: none;
  color: var(--grey);
  width: 23%;
  font-size: 47px;
  text-align: center;
  position: relative;
  transition: all 300ms;
}

main .container a::before {
  content: '';
  width: 70px;
  height: 3px;
  display: block;
  background-color: var(--lijnekleur);
  position: absolute;
  left: calc(50% - 35px);
  bottom: -29px;
  transition: all 300ms;
}

main .container a h2 {
  font-size: 22px;
  font-family: Raleway;
  font-weight: 600;
  line-height: 27px;
  margin-top: 25px;
  margin-bottom: 17px;
  transition: all 300ms;
}

main .container a p {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 24px;
  color: var(--brownlight);
}

main .container a:hover {
  color: var(--brownlight);
}

main .container a:hover::before {
  background-color: var(--brownlight);
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  nav ul li {
    margin-left: 12px;
  }

  nav ul li a {
    padding: 8px;
  }

  nav a.search {
    margin-left: 50px;
  }

  .container {
    width: 94%;
  }

  .next {
    right: 75px;
  }

  .prev {
    left: 75px;
  }
}

@media screen and (max-width: 1000px) {
  main .container {
    flex-wrap: wrap;
  }

  main .container a {
    width: 47%;
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  nav a.logo {
    margin-right: 0%;
  }

  nav a.search {
    display: none;
  }

  nav ul {
    margin-top: 40px;
  }

  .next {
    right: 30px;
  }

  .prev {
    left: 30px;
  }
}

@media screen and (max-width: 570px) {
  nav ul {
    display: none;
  }

  main .container a {
    width: 100%;
  }

  .slider-content h1 {
    font-size: 38px;
    line-height: 42px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 98%;
  }

  .slider-content h1 {
    font-size: 22px;
    line-height: 32px;
  }

  .slider-content h2 {
    font-size: 18px;
    line-height: 22px;
  }

  .prev,
  .next {
    top: calc(50% - 21px);
    font-size: 42px;
  }
}
